* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  letter-spacing: 2px;
}

.header i {
  font-size: 25px;
  margin-right: 20px;
}

.content {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.meme {
  width: 700px;
  margin-top: 80px;
}

.content input {
  width: 345px;
  font-family: "Karla", sans-serif;
  padding: 10px;
  font-size: 17px;
}

input:first-child {
  margin-right: 10px;
}

.content input:focus {
  outline: none;
}

.btn {
  margin-top: 30px;
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

.btn:active {
  transform: scale(1.01);
}

.memeImg {
  width: 100%;
  object-fit: contain;
}

.box {
  margin: 50px 0;
  position: relative;
}

.text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  font-family: "Karla", sans-serif;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

@media all and (max-width: 720px) {
  .meme {
    width: 100%;
  }

  .content input {
    width: 50%;
  }

  input:first-child {
    margin-right: 0;
  }

  .btn {
    cursor: default;
  }
}
